<h2><p id="notice"><%= notice %></p></h2>

<p>
  <strong>Titulo:</strong>
  <%= @artigo.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @artigo.autor %>
</p>


	<% if @artigo.pdf? %>
		<li class="active">   
	  	<%= link_to "Exibir artigo", @artigo.pdf.url ,target: '_blank'%>
	    </li>
	<% end %>

<br>
<%= link_to 'Voltar', new_artigo_path %>