<h2><p id="notice"><%= notice %></p></h2>

<p>
  <strong>Titulo:</strong>
  <%= @artigo.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @artigo.autor %>
</p>


	<% if @artigo.pdf? %>
		<li class="active">   
	  	<%= link_to "Exibir", @artigo.pdf.url ,target: '_blank'%>
	    </li>
	<% end %>
	
	<% if @admin.present? %>
		<%= link_to 'Alterar', edit_artigo_path(@artigo) %> |
	<% end %>

<%= link_to 'Voltar', artigos_path %>
