<%= simple_form_for @volume, :html => { :class => 'form-horizontal',:multipart => true } do |f| %>
  <% if @volume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volume.errors.count, "error") %> prohibited this volume from being saved:</h2>

      <ul>
      <% @volume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :edicao %>
    </div>

  <%= f.simple_fields_for :items do |f| %>
 
    <%render 'novo_item', f: f %>
    
    <% end %>

    <%= link_to_add_item "Adicionar artigo", f, :items %>
  <div class="actions">
   <%= f.button :submit %>
  </div>
<% end %>
