
<fieldset>
	<h3> Novo artigo</h3>
	<%= f.input :titulo, placeholder: "Título" %>
	<%= f.input :autor, placeholder: "Autor" %>
	<%= f.file_field :pdf, label: "Artigo" %>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remover artigo",'#', data: { confirm: "Tem certeza?"} , class: "remove_item" %>
</fieldset>
