  <h3>Volumes</h3>
<% @volumes.each do |volume| %>
      <div id="edicoes" style="margin-bottom: 200x">
     <div style="float:left; margin-left:15px">
    <%= link_to image_tag("edicao1.gif"), volume %>
   <br />
        Edição <%= volume.edicao %>
   <br />
        <% if @admin.present? %>
        <%= link_to 'Show', volume %>
        <%= link_to 'Edit', edit_volume_path(volume) %>
        <%= link_to 'Destroy', volume, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    <% end %>

<%= link_to 'New Volume', new_volume_path %>



