<p id="notice"><%= notice %></p>

<div id="edicoes" style="margin-bottom: 200px">
    <div style="float:left">
    <%= link_to image_tag("edicao1.gif"), root_path %>
    <br />
    <p>
  <strong>Edição </strong>
  <%= @volume.edicao %>
</p>

<% if current_admin.present? %>
<%= link_to 'Alterar', edit_volume_path(@volume) %> |
<% end %>

<%= link_to 'Voltar', volumes_path %>

    </div>


