<!DOCTYPE html>
<html>
<head>
<title>SaberJuridico</title>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
             <li class="nav-header"><%= link_to "Apresentação", root_path %></li>
              
              <li><%= link_to "Volumes", volumes_path %> </li>
						  
              <li class="nav-header">Sidebar</li>
              <%= link_to('Novo Perfil', new_professor_registration_path) %>
              
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

     							<div class="span3"><%= yield =%></div>

</body>
</html>
